R version 4.2.3 (2023-03-15 ucrt)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 19045)

Matrix products: default

locale:
[1] LC_COLLATE=French_France.utf8  LC_CTYPE=French_France.utf8    LC_MONETARY=French_France.utf8 LC_NUMERIC=C                  
[5] LC_TIME=French_France.utf8    

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base     

other attached packages:
 [1] rticles_0.24      xtable_1.8-4      viridis_0.6.2     viridisLite_0.4.1 lubridate_1.9.2   forcats_1.0.0     stringr_1.5.0    
 [8] readr_2.1.4       tidyr_1.3.0       tibble_3.2.1      tidyverse_2.0.0   ggplot2_3.4.2     dplyr_1.1.1       purrr_1.0.1      

loaded via a namespace (and not attached):
 [1] pillar_1.9.0     compiler_4.2.3   tools_4.2.3      digest_0.6.31    timechange_0.2.0 evaluate_0.20    lifecycle_1.0.3 
 [8] gtable_0.3.3     pkgconfig_2.0.3  rlang_1.1.0      cli_3.6.1        rstudioapi_0.14  yaml_2.3.7       xfun_0.38       
[15] fastmap_1.1.1    gridExtra_2.3    withr_2.5.0      knitr_1.42       hms_1.1.3        generics_0.1.3   vctrs_0.6.1     
[22] grid_4.2.3       tidyselect_1.2.0 glue_1.6.2       R6_2.5.1         fansi_1.0.4      rmarkdown_2.21   tzdb_0.3.0      
[29] magrittr_2.0.3   scales_1.2.1     htmltools_0.5.5  rsconnect_0.8.29 colorspace_2.1-0 utf8_1.2.3       stringi_1.7.12  
[36] munsell_0.5.0   
